createdAt: "2018-04-25T13:11:04.998Z"
updatedAt: "2018-04-25T13:18:22.350Z"
type: "MARKDOWN_NOTE"
folder: "8121e771b5582b371f1f"
title: ""
content: '''
  <DOCTYPE html!>
  <html>
  <head>
  
  </head>
  <body>
  
  <p>Hey! I am new here.</p>
  </body>
  
  
  
  
  
  </html>
'''
tags: []
isStarred: false
isTrashed: false
